@model BirthdayCard.Models.Users
@{
    Layout = null;
}


<p style="background-color: black; color: grey; font: bolder; font-size: large; padding:10px; width: 200px;">Birthday Card Generator</p>
<p style="font-size: x-large">Send a Party Card</p>

<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Message: @Model.Message</p>

<p>&copy; 2016 - My ASP.NET Application</p>
